/*
Site wide colors from Virginia Tech
*/
:root {
    /* Primary colors */
    --vt-maroon:#861f41;
    --vt-burntOrange:#e5751f;
    --vt-hokieStone: #75787b;
    --vt-white: #ffffff;
  
    /* Secondary colors */
    --vt-purple: #642667;
    --vt-pink: #ce0058;
    --vt-yellow: #f7ea48;
    --vt-teal: #508590;
    --vt-turquoise: #2cd5c4;
    --vt-grey: #d7d2cb;
    --vt-smoke: #e5e1e6;
    --vt-impactOrange: #ca4f00;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.App {
    text-align: center;
}

/* Override default link color */
a {
    color: var(--vt-burntOrange) !important;
}

.iconText {
    margin: 0 0.5rem;
}

.navbarButton {
    color: #fff !important;
    padding: 0.5rem 1rem !important;
}

.iconText {
    margin: 0 0.5rem;
}

.navbarButton {
    color: #fff !important;
}

.data-area-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.todo-form {
    width: 60%;
}

.todo-list {
    width: 60%;
}

.todo-label {
    font-size: large;
    margin-right: 22%;
    margin-left: 3%;
}

.todo-view-btn {
    float: right;
}

.tableColumn {
    word-break: break-all;
}

.table-responsive {
    max-height: 37rem !important;
}

.warningMessage {
    color: red;
}

.card-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* NAVIGATION BAR STYLING */

.navbarStyle {
    background-color: #861f41;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    text-decoration: none;   
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    color: white;
    list-style: none;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
}

.log-btn {
    background-color: #E5751F;
    color: #fff;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    margin-right: 1rem;
    color:black;
}

/* SEARCH BAR STYLING */
.search-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 50px;
    
    
}

.search-button {
    padding: 6px 30px;
    border: 2px solid #ccc;
    color: #fff;
    background-color: #861f41;
    
}

.search-container input[type=text]{
    padding: 6px 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
}