.searchresult_container {
  width: 300px;
  margin: 10px 0px;
  padding: 5px;
  border: 1px solid black;
}

.searchresult_file-preview {
  background-color: var(--vt-smoke);
  height: 200px;
}

.searchresult_tags {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}